.wrapper {
    position: relative;
    width: 100%;
}

.inputField {
    width: 100%;
    font-size: 14px;
    padding: 2px 25px;
    border: none !important
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
}