.tableWrapper {
  overflow-x: auto;

}

.tableResponsive {
  overflow-x: auto;
  /* border: 1px solid #d2d2d2; */
  /* Solid border around the entire table */
  border-radius: 6px;
  /* Rounded corners */
  overflow: hidden;
  /* Clips inner overflow for rounded corners */
}

.tableResponsive::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  cursor: pointer;
}

.tableResponsive::-webkit-scrollbar-track {

  border-radius: 6px;
}

.tableResponsive::-webkit-scrollbar-thumb {
  background-color: rgba(2, 82, 156, 1);
  border-radius: 6px;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table th,
.table td {
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
  text-align: left;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.table td {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table td.package_id {
  white-space: nowrap;
}

.table td p {
  margin: 0;
}

.table th {
  padding-top: 12px;
  padding-bottom: 17px;
  position: relative;
  white-space: nowrap;
}

.sortAsc,
.sortDsc,
.sortNeutral {
  position: absolute;
  right: 10px;
  top: 15px;
  display: inline-flex;
  flex-direction: column;
  font-size: 10px;
  color: #0a0f31;
  opacity: 0.5;
  cursor: pointer;
  line-height: 10px;

  .tableWrapper {
    overflow-x: auto;
    padding: 2px;
  }

  .tableResponsive {
    overflow-x: auto;
    border: 1px solid #dee2e6;
    /* Solid border around the entire table */
    border-radius: 10px;
    /* Rounded corners */
    overflow: hidden;
    /* Clips inner overflow for rounded corners */
  }

  .tableResponsive::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    cursor: pointer;
  }

  .tableResponsive::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 6px;
  }

  .tableResponsive::-webkit-scrollbar-thumb {
    background-color: rgba(2, 82, 156, 1);
    border-radius: 6px;
    border: 1px solid #dee2e6;
    cursor: pointer;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }

  .table th,
  .table td {
    border: none;
    padding: 10px 30px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    font-size: 12px;
  }

  .table th:last-child,
  .table td:last-child {
    border-right: none;
  }

  .table td {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .table td.package_id {
    white-space: nowrap;
  }

  .table td p {
    margin: 0;
  }

  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    white-space: nowrap;
  }

  .sortAsc,
  .sortDsc,
  .sortNeutral {
    position: absolute;
    right: 10px;
    top: 15px;
    display: inline-flex;
    flex-direction: column;
    font-size: 10px;
    color: #0a0f31;
    opacity: 0.5;
    cursor: pointer;
    line-height: 10px;
  }

  .sortAsc::before {
    content: "\25B2";
    /* ▲ */
    opacity: 1;
  }

  .sortAsc::after {
    content: "\25BC";
    /* ▼ */
    opacity: 0.3;
  }

  .sortDsc::before {
    content: "\25B2";
    opacity: 0.3;
  }

  .sortDsc::after {
    content: "\25BC";
    opacity: 1;
  }

  .sortNeutral::before {
    content: "\25B2";
    opacity: 0.3;
  }

  .sortNeutral::after {
    content: "\25BC";
    opacity: 0.3;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .noData {
    text-align: center;
    margin: 30px 0 50px;
  }
}

.sortAsc::before {
  content: "\25B2";
  /* ▲ */
  opacity: 1;
}

.sortAsc::after {
  content: "\25BC";
  /* ▼ */
  opacity: 0.3;
}

.sortDsc::before {
  content: "\25B2";
  opacity: 0.3;
}

.sortDsc::after {
  content: "\25BC";
  opacity: 1;
}

.sortNeutral::before {
  content: "\25B2";
  opacity: 0.3;
}

.sortNeutral::after {
  content: "\25BC";
  opacity: 0.3;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.noData {
  text-align: center;
  margin: 30px 0 50px;
}

.table tr:last-child td {
  border-bottom: none;
}



.input_design {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  transition: border 0.3s ease;
  font-size: 15px;
  color: black;
  opacity: .7;
}

.input_design::placeholder {
  color: #999;
  font-size: 14px;
  opacity: 1;
}


.input_design:focus {
  border-color: #7daef8;
  box-shadow: none;
  outline: none;
}