#FileUpload {
  display: inline-block;
}

#FileUpload p.label em {
  color: red;
  margin: 0 5px;
  font-style: normal;
}

#FileUpload .file_info {
  color: inherit;
  text-decoration: none;
}

#FileUpload label {
  background-color: #f4ece8;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  padding: 8px 20px;
  border-radius: 5px;
  color: #474747;
  cursor: pointer;
  white-space: nowrap;
}

#FileUpload label.reverse {
  flex-direction: row-reverse;
}

#FileUpload small.error {
  display: block;
  color: red;
}

#FileUpload #AttachmentContent {
  margin-top: 3px;
}

/* css-atc-esc1 */
#FileUpload.css-atc-esc1 p.label,
#FileUpload.css-atc-esc1 .file_info {
  display: none;
}

#FileUpload.css-atc-esc1.sub1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#FileUpload.css-atc-esc1.sub1 #AttachmentContent {
  margin-top: 0;
}

#FileUpload.css-atc-esc1.sub1 #AttachmentContent span.content span.image img.file {
  height: 30px;
  width: 38px;
}

/* css-atc-esc2 */
#FileUpload.css-atc-esc2 {
  width: 100%;
  margin-bottom: 15px;
}

#FileUpload.css-atc-esc2>span {
  display: inline-block;
  width: 100%;
}

#FileUpload.css-atc-esc2>span p.label {
  margin: 0;
  padding-bottom: 4px;
}

#FileUpload.css-atc-esc2 label {
  background-color: #eff2f7;
  border-radius: 5px 0px 0px 5px;
  font-weight: normal;
  width: 150px;
  justify-content: start;
}

#FileUpload.css-atc-esc2 .file_info {
  border: 1px solid #d9d9d99e;
  padding: 7px 20px;
  border-radius: 0px 5px 5px 0px;
  width: calc(100% - 150px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  cursor: default;
  pointer-events: none;
}

#FileUpload.css-atc-esc2 .file_info.file {
  cursor: pointer;
  pointer-events: auto;
}

#FileUpload.css-atc-esc2 .upload_icon {
  display: none;
}

/* css-atc-esc3 */
#FileUpload.css-atc-esc3 .file_info {
  display: none;
}

#FileUpload.css-atc-esc3 label {
  background-color: inherit;
  border: 1px solid #0c124a;
  font-weight: normal;
  padding: 6px 20px;
}

/* css-atc-esc4 */
#FileUpload.css-atc-esc4 .file_info {
  display: none;
}

#FileUpload.css-atc-esc4 label {
  background-color: #0c124a;
  color: #fff;
  font-weight: normal;
}

#FileUpload.css-atc-esc4 .upload_icon {
  display: none;
}

/* css-atc-esc5 */
#FileUpload.css-atc-esc5 {
  position: relative;
}

#FileUpload.css-atc-esc5.image2 #AttachmentContent span.content span.image img.file {
  object-fit: contain;
  padding: 20px;
}

#FileUpload.css-atc-esc5.image2 #AttachmentContent span.content span {
  height: 150px;
}

#FileUpload.css-atc-esc5.image2 #AttachmentContent span.content span img.file {
  width: 100%;
  height: 100%;
}

#FileUpload.css-atc-esc5 .label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 600;
}

#FileUpload.css-atc-esc5 label {
  width: 200px;
  height: 150px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#FileUpload.css-atc-esc5 .file_info {
  display: none;
}

#FileUpload.css-atc-esc5:has(#AttachmentContent) .wrapper label {
  display: none;
}

#FileUpload.css-atc-esc5 #AttachmentContent {
  width: 200px;
  height: 150px;
  margin-top: 10px;
}

#FileUpload.css-atc-esc5 #AttachmentContent .image {
  width: 100%;
}

#FileUpload.css-atc-esc5 #AttachmentContent .image a {
  width: 100%;
}

#FileUpload.css-atc-esc5 #AttachmentContent .image .file {
  width: 100%;
  height: 130px;
}

#FileUpload.css-atc-esc5 #AttachmentContent .close_wrap {
  padding: 0;
}

#FileUpload.css-atc-esc5 #AttachmentContent .remove-icon {
  right: 5px;
}

/* css-atc-esc6 */
#FileUpload.css-atc-esc6 {
  position: relative;
}

#FileUpload.css-atc-esc6 .label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

#FileUpload.css-atc-esc6 label {
  width: 200px;
  height: 150px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#FileUpload.css-atc-esc6 .file_info {
  display: none;
}

#FileUpload.css-atc-esc6:has(#AttachmentContent) .wrapper label {
  display: none;
}

#FileUpload.css-atc-esc6 #AttachmentContent {
  width: 200px;
  height: 150px;
  margin-top: 10px;
}

#FileUpload.css-atc-esc6 #AttachmentContent span.content span img.file {
  width: 100%;
  height: 100%;
  padding: 30px;
}

#FileUpload.css-atc-esc6 #AttachmentContent .image {
  width: 100%;
}

#FileUpload.css-atc-esc6 #AttachmentContent .image a {
  width: 100%;
}

#FileUpload.css-atc-esc6 #AttachmentContent .image .file {
  width: 100%;
  height: 130px;
}

#FileUpload.css-atc-esc6 #AttachmentContent .close_wrap {
  padding: 0;
}

#FileUpload.css-atc-esc6 #AttachmentContent .remove-icon {
  right: 5px;
}

/* css-atc-esc7 */
#FileUpload.css-atc-esc7 {
  position: relative;
}

#FileUpload.css-atc-esc7.image2 #AttachmentContent span.content span.image img.file {
  object-fit: contain;
  padding: 20px;
}

#FileUpload.css-atc-esc7.image2 #AttachmentContent span.content span {
  height: 150px;
}

#FileUpload.css-atc-esc7.image2 #AttachmentContent span.content span img.file {
  width: 100%;
  height: 100%;
}

#FileUpload.css-atc-esc7 .label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 600;
}

#FileUpload.css-atc-esc7 label {
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#FileUpload.css-atc-esc7 .file_info {
  display: none;
}

#FileUpload.css-atc-esc7:has(#AttachmentContent) .wrapper label {
  display: none;
}

#FileUpload.css-atc-esc7 #AttachmentContent {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

#FileUpload.css-atc-esc7 #AttachmentContent .image {
  width: 100%;
}

#FileUpload.css-atc-esc7 #AttachmentContent .image a {
  width: 100%;
}

#FileUpload.css-atc-esc7 #AttachmentContent .image .file {
  width: 100%;
  height: 85px;
}

#FileUpload.css-atc-esc7 #AttachmentContent .close_wrap {
  padding: 0;
}

#FileUpload.css-atc-esc7 #AttachmentContent .remove-icon {
  right: 5px;
}

/* extra */
.text_small {
  font-size: 5px;
}